# Set Intel Format:
settings set target.x86-disassembly-flavor intel

# Print Banner:
script print "\033[1;34m███████╗███████╗██╗     ██╗███████╗███████╗\n██╔════╝╚══███╔╝██║     ██║██╔════╝██╔════╝\n█████╗    ███╔╝ ██║     ██║█████╗  █████╗\n██╔══╝   ███╔╝  ██║     ██║██╔══╝  ██╔══╝\n███████╗███████╗███████╗██║██║     ███████╗\n╚══════╝╚══════╝╚══════╝╚═╝╚═╝     ╚══════╝\033[m"
script print '''\033[1;31m   __ _ _ __ ___  ___  __ _ \n  / _' | '__/ _ \/ __|/ _' |\n | (_| | | | (_) \__ \ (_| |\n  \__, |_|  \___/|___/\__,_|\n     |_|   \033[m'''

# Set custom Prompt
settings set prompt $qrosa$>
